/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
	width: 100%;
	max-width: 1920px;
	margin: 0px auto;
}
@media (max-width: 1920px){
	.conteiner {
		max-width: 992px;
	}
}
@media (max-width: 992px){
	.conteiner {
		max-width: 768px;
	}
}
@media (max-width: 576px){
	.conteiner {
		max-width: none;
	}
}


header{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 150px;
	height: 1045px;
	background: rgba(51, 51, 51, 0.75);
}

.header__row {
	display: flex;
	text-transform: uppercase;
	text-decoration: none;
	touch-action: manipulation;
}

.header__menu {
	display: flex;
	position: absolute;
	font-family: 'Open Sans Condensed';
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	margin-left: 550px;
	top: 40px;
	z-index: 10;
}
ul {
	display: block;
	position: absolute;
	align-items: center;
	padding: 10px 10px;
}
li {
	display: block;
	color: #fff;
	width: 200px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
}
li a {
	text-decoration: none;
	color: #fff;
}

.general{
	display: flex;
	position: absolute;
	font-family: 'Open Sans Condensed';
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	left: -200px;
	top: 10px;
	z-index: 10;
	border: 1.5px groove #D1A954;
}
.general:hover{
	transform: scale(1);
	background-color: #D1A954;
	padding: 3px;
	border-radius: 4px;
}
li:hover{
	transform: scale(1);
	background-color: #D1A954;
	padding: 3px;
	border-radius: 4px;
}
.header__number {
	display: block;
	position: absolute;
	font-family: 'Open Sans Condensed';
	width: 125px;
	height: 25px;
	left: 1393px;
	top: 50px;
	color: #fff;
	text-align: left;
	justify-content: left
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	text-align: right;
	letter-spacing: 0.05em;
}

.wrapper {
	width: 1920px;
	min-height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 1 auto;
}
.head {
	display: flex;
}
.head__img{
	display: flex;
}
.container{
	max-width: 1920px;
	margin: 0px auto;
}
.head__area{
	display: block;
   position: absolute;
   top: 0px;
   left: 0px;
   width: 150px;
   height: 1045px;
   background: rgba(51, 51, 51, 0.75);
}
.head__area-title {
	position: absolute;
	font-family: 'Open Sans Condensed';
	color: #C4C4C4;
	width: 242px;
	height: 25px;
	top: 490px;
	left: -45px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.1em;
	white-space: nowrap;
	transform: rotate(-90deg);
	text-transform: uppercase;
}
.head__line {
	position: absolute;
	width: 80px;
	height: 0px;
	left: 37px;
	top: 705px;
	border: 1.5px solid #C4C4C4;
	transform: rotate(90deg);
}
.head-instagram {
	position: absolute;
	left: 64px;
	top: 785px;
}
.head-instagram:hover{
	transform: scale(1.3);
	background-color: #c13584;
	padding: 3px;
	border-radius: 5px;
}
.head-facebook {
	position: absolute;
	left: 69px;
	top: 841px;
}
.head-facebook:hover{
	transform: scale(1.3);
	background-color: #3b5998;
	padding: 4px;
	border-radius: 5px;
}
.head-vkontakte {
	position: absolute;
	left: 64px;
	top: 897px;
}
.head-vkontakte:hover{
	transform: scale(1.3);
	background-color: #597da3;
	padding: 4px;
	border-radius: 5px;
}
.head-youtube {
	position: absolute;
	left: 64px;
	top: 941px;
}
.head-youtube:hover{
	transform: scale(1.3);
	background-color: #c4302b;
	padding: 4px;
	border-radius: 5px;
}

.head__block {
	display: block;
}
.head__title {
	position: absolute;
	font-family: 'Open Sans Condensed';
	width: 540px;
	height: 68px;
	left: 405px;
	top: 384px;
	color: #fff;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 87px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	white-space: nowrap;
}
.head__text {
	position: absolute;
	width: 570px;
	height: 79px;
	left: 405px;
	top: 502px;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 150%;
	color: #FFFFFF;
}
.head__buttom {
	position: absolute;
	background: #D1A954;
	width: 160px;
	height: 50px;
	left: 405px;
	top: 630px;
	display: inline-block;
	line-height: 40px;
	padding: 0px 5px;
	-webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 5px 1px rgba(0, 0, 0,0.5);
}

.head__buttom:hover{
	transform: scale(1.2);
	background-color: #D19568;
	padding: 2px;
	border-radius: 3px;
}

span{
	display: flex;
	position: absolute;
	color: #fff;
	justify-content: center;
	text-align: center;
	width: 66px;
	height: 50px;
	margin: 0px 45px;
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	align-items: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

span:hover{
	transform: scale(1.2);
	border-radius: 2px;
}
.head__navigation {}
.head__slider {}
.head__img-1 {
	position: absolute;
	width: 350px;
	height: 490px;
	left: 1090px;
	top: 287px;
}
.head__img-2 {
	position: absolute;
	width: 350px;
	height: 490px;
	left: 1070px;
	top: 267px;
}
.head__arrow {
	font-family: Open Sans Condensed;
}
.head__arrow-1 {
	position: absolute;
	width: 40px;
	height: 0px;
	left: 1075px;
	top: 824px;
}
.head__arrow-text-1 {
	position: absolute;
	width: 43px;
	height: 25px;
	left: 1150px;
	top: 820px;
	color: #fff;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 25px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}
.head__arrow-2 {
	position: absolute;
	width: 40px;
	height: 0px;
	left: 1400px;
	top: 824px;
}
.head__arrow-text-2 {
	position: absolute;
	width: 43px;
	height: 25px;
	left: 1310px;
	top: 820px;
	color: #fff;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 25px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}
a{
	color: #fff;
}

.about {
	background: #333333;
	width: 1920px;
	min-height: 100%;
	overflow: hidden;
}
.about__theater {}
.about__general {
	display: flex;
	position: absolute;
	font-family: Open Sans Condensed;
	width: 177px;
	height: 65px;
	left: 872px;
	top: 1195px;
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 65px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.about__news {}
.about__title {
	display: block;
	position: absolute;
	font-family: Open Sans Condensed;
	color: #fff;
	width: 445px;
	height: 23px;
	left: 390px;
	top: 1360px;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 29px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.about__text {
	display: block;
	position: absolute;
	font-family: Open Sans;
	width: 445px;
	height: 210px;
	left: 390px;
	top: 1423px;
	color: #fff;
	font-size: 14px;
	line-height: 150%;
	white-space: pre-wrap;
}
.about__numbers {}
.about__info {
	display: flex;
	position: absolute;
	font-family: Open Sans Condensed;
	color: #fff;
	width: 255px;
	height: 23px;
	left: 900px;
	top: 1360px;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 29px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.about__pic-1 {
	position: absolute;
	left: 900px;
	top: 1423px;
}
.about__number-1{
	position: absolute;
	left: 900px;
	top: 1508px;
}
.about__pic-2 {
	position: absolute;
	left: 900px;
	top: 1550px;
}
.about__number-2 {
	position: absolute;
	left: 900px;
	top: 1635px;
}
.about__photo {
	position: absolute;
	left: 1180px;
	top: 1360px;
}

.performances {
	background: #333333;
	width: 1920px;
	min-height: 100%;
	overflow: hidden;
	font-family: Open Sans Condensed;
}
.performances__row {}

.performances__title {
	position: absolute;
	left: 761px;
	top: 1802px;
}
.performances__block {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
.performances__block-1 {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.performances__block-1:hover{
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	-o-transform: scale(1.01);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.performances__pic-1 {
	position: absolute;
	left: 120px;
	top: 1967px;
}
.performances__text-1 {
	position: absolute;
	color: #fff;
	width: 124px;
	height: 33px;
	left: 170px;
	top: 2007px;
	white-space: nowrap;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.performances__text-2 {
	position: absolute;
	color: #fff;
	width: 129px;
	height: 25px;
	left: 105px;
	top: 2400px;
	white-space: nowrap;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	transform: rotate(-90deg);
}
.performances__block-2:hover {
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	-o-transform: scale(1.01);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.performances__pic-2 {
	position: absolute;
	left: 562px;
	top: 1967px;
}
.performances__search {
	position: absolute;
	height: 80px;
	left: 780px;
	top: 2192px;
	transform: translate(-50%,50%);
	background: #D1A954;
	border-radius: 70px;
	padding: 10px;
}

.search-btn{
	color: #fff;
	float: right;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.search-text{
	border: none;
	background: none;
	outline: none;
	padding: 0px;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 60px;
	width: 0px;
	left: 10px
}

.performances__search:hover > .search-text{
	width: 240px;
	padding: 0 6px;
}

.performances__block-3 {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.performances__block-3:hover{
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	-o-transform: scale(1.01);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.performances__pic-3 {
	position: absolute;
	left: 1006px;
	top: 1967px;
}
.performances__text-3 {
	position: absolute;
	color: #fff;
	width: 228px;
	height: 33px;
	left: 1046px;
	top: 2007px;
	white-space: nowrap;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.performances__text-4 {
	position: absolute;
	color: #fff;
	width: 97px;
	height: 25px;
	left: 1005px;
	top: 2415px;
	white-space: nowrap;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	transform: rotate(-90deg);
}
.performances__block-4 {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.performances__block-4:hover{
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	-o-transform: scale(1.01);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.performances__pic-4 {
	position: absolute;
	left: 1446px;
	top: 1967px;
}
.performances__text-5 {
	position: absolute;
	color: #fff;
	width: 134px;
	height: 33px;
	left: 1490px;
	top: 2007px;
	white-space: nowrap;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.performances__text-6 {
	position: absolute;
	color: #fff;
	width: 86px;
	height: 25px;
	left: 1455px;
	top: 2420px;
	white-space: nowrap;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	transform: rotate(-90deg);
}

.best {
	background: #333333;
	width: 1920px;
	min-height: 100%;
	overflow: hidden;
	font-family: Open Sans Condensed;
}
.best__stars {}
.best__pic {
	position: absolute;
	left: 405px;
	top: 2667px;
}
.best__years {
	position: absolute;
	font-family: Open Sans Condensed;
	color: #D1A954;
	width: 182px;
	height: 298px;
	left: 595px;
	top: 2793px;
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	line-height: 98px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.best__1 {}
.best__2 {}
.best__3 {}
.best__star {
	display: flex;
	position: absolute;
	width: 26px;
	height: 24px;
	left: 880px;
	top: 2838px;
}
.best__text {
	position: absolute;
	font-family: Open Sans;
	color: #fff;
	width: 450px;
	height: 140px;
	left: 880px;
	top: 2887px;
	text-align: left;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 150%;
}

.partners {
	background: #333333;
	width: 1920px;
	min-height: 100%;
	overflow: hidden;
}
.partners__row {}
.partners__title {
	position: absolute;
	width: 358px;
	height: 65px;
	left: 781px;
	top: 3367px;
}
.partners__names {}
.partners__names-1 {
	position: absolute;
	top: 3620px;
}
.partners__1 {
	position: absolute;
	left: 430px;
	right: 66px;
	bottom: 18px;
}
.partners__2 {
	position: absolute;
	left: 715px;
	right: 66px;
	bottom: 18px;
}
.partners__3 {
	position: absolute;
	left: 1000px;
	right: 66px;
	bottom: 18px;
}
.partners__4 {
	position: absolute;
	left: 1290px;
	right: 66px;
	bottom: 18px;
}

.partners__names-2 {
	position: absolute;
	top: 3800px;
}
.partners__5 {
	position: absolute;
	left: 430px;
	right: 66px;
	bottom: 18px;
}
.partners__6 {
	position: absolute;
	left: 715px;
	right: 66px;
	bottom: 18px;
}
.partners__7 {
	position: absolute;
	left: 1000px;
	right: 66px;
	bottom: 18px;
}
.partners__8 {
	position: absolute;
	left: 1290px;
	right: 66px;
	bottom: 18px;
}

.patron {
	background: #333333;
	width: 1920px;
	min-height: 100%;
	overflow: hidden;
	font-family: Open Sans Condensed;
}
.patron__row {
	display: flex;
}
.patron__title {
	position: absolute;
	width: 381px;
	height: 65px;
	left: 770px;
	top: 3924px;
}
.patron__block-1 {
	position: absolute;
	font-family: Open Sans Condensed;
}
.patron__number-1 {
	position: absolute;
	width: 131px;
	height: 17px;
	left: 390px;
	top: 800px;
	color: #fff;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.patron__number-2 {
	position: absolute;
	width: 131px;
	height: 17px;
	left: 390px;
	top: 850px;
	color: #fff;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.patron__mail {
	position: absolute;
	width: 131px;
	height: 17px;
	left: 390px;
	top: 900px;
	color: #fff;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.patron__address {
	position: absolute;
	width: 131px;
	height: 17px;
	left: 390px;
	top: 950px;
	color: #fff;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.patron__block-2 {
	position: absolute;
	font-family: Open Sans Condensed;
}
.patron__name {
	position: absolute;
	width: 180px;
	height: 35px;
	left: 780px;
	top: 800px;
	background: #444444;
	border: 1px solid #616161;
	box-sizing: border-box;
}
.patron__name input{
	position: absolute;
	display: flex;
	align-items: center;
	color: #989898;
	border-bottom: 1px solid #616161;
	width: 178px;
	height: 35px;
	background: #444444;
}
input{
	padding: 0 20px;
	font-family: Open Sans
}

.patron__phone {
	position: absolute;
	width: 180px;
	height: 35px;
	left: 780px;
	top: 880px;
	background: #444444;
	border: 1px solid #616161;
	box-sizing: border-box;
}
.patron__phone input{
	position: absolute;
	display: flex;
	align-items: center;
	color: #989898;
	border-bottom: 1px solid #616161;
	width: 178px;
	height: 35px;
	background: #444444;
}
.patron__company {
	position: absolute;
	width: 180px;
	height: 35px;
	left: 995px;
	top: 800px;
	background: #444444;
	border: 1px solid #616161;
	box-sizing: border-box;
}
.patron__company input{
	position: absolute;
	display: flex;
	align-items: center;
	color: #989898;
	border-bottom: 1px solid #616161;
	width: 178px;
	height: 35px;
	background: #444444;
}
.patron__email {
	position: absolute;
	width: 180px;
	height: 35px;
	left: 995px;
	top: 880px;
	background: #444444;
	border: 1px solid #616161;
	box-sizing: border-box;
}
.patron__email input{
	position: absolute;
	display: flex;
	align-items: center;
	color: #989898;
	border-bottom: 1px solid #616161;
	width: 178px;
	height: 35px;
	background: #444444;
}
.patron__message{
	position: absolute;
	width: 321px;
	height: 118px;
	left: 1205px;
	top: 800px;
	background: #444444;
	border: 1px solid #616161;
	box-sizing: border-box;
}
.patron__message textarea{
	position: absolute;
	display: flex;
	align-items: center;
	color: #989898;
	border-bottom: 1px solid #616161;
	width: 319px;
	height: 118px;
	background: #444444;
}
textarea{
	padding: 10px 20px;
	font-family: Open Sans
}
.patron__info {
	position: absolute;
	font-family: Open Sans;
	color: #989898;
	width: 390px;
	height: 50px;
	left: 785px;
	top: 980px;
	font-size: 12px;
	line-height: 150%;
}
.patron__buttom {
	position: absolute;
	font-family: Open Sans Condensed;
	color: #fff;
	width: 190px;
	height: 50px;
	left: 1335px;
	top: 980px;
	background: #D1A954;
	display: inline-block;
	line-height: 40px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	-webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 5px 1px rgba(0, 0, 0,0.5);
}
.patron__buttom:hover{
	transform: scale(1.2);
	border-radius: 2px;
}

.footer {
	background: #333333;
	width: 1920px;
	min-height: 100%;
	overflow: hidden;
	font-family: Open Sans Condensed;
}
.footer__row {}
.footer__line {
	position: absolute;
	width: 1140px;
	height: 0px;
	left: 390px;
	top: 4430px;
	border: 1px solid #565656;
}
.footer__text-1 {
	position: absolute;
	font-family: Open Sans;
	color: #989898;
	width: 272px;
	height: 18px;
	left: 390px;
	top: 4500px;
	font-size: 12px;
	line-height: 150%;
}
.footer__text-2 {
	position: absolute;
	font-family: Open Sans;
	color: #989898;
	width: 124px;
	height: 18px;
	left: 1405px;
	top: 4500px;
	font-size: 12px;
	line-height: 150%;
	text-align: right;
}
