/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
	font-family: Open Sans Condensed;
}
header{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 150px;
	height: 1045px;
	background: rgba(51, 51, 51, 0.75);
}
.menu-area {
	position: absolute;
	color: #C4C4C4;
	width: 242px;
	height: 25px;
	top: 460px;
	left: -45px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.1em;
	white-space: nowrap;
	transform: rotate(-90deg);
	text-transform: uppercase;
}
.menu-line {
	position: absolute;
	width: 80px;
	height: 0px;
	left: 37px;
	top: 690px;
	border: 2px solid #C4C4C4;
	transform: rotate(90deg);
}
.menu-instagram {}
.menu-inst__1 {
	position: absolute;
	left: 64px;
	top: 790px;
}
.menu-inst__2 {
	position: absolute;
	left: 83px;
	top: 795px;
}
.menu-inst__3 {
	position: absolute;
	left: 70.3px;
	top: 796px;
}
.menu-facebook {
	position: absolute;
	left: 69px;
	top: 841px;
}
.menu-vkontakte {
	position: absolute;
	left: 64px;
	top: 897px;
}
.menu-youtube {
	position: absolute;
	left: 64px;
	top: 941px;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 1 auto;
}
.head {
	display: flex;
}
.head__img{
	display: flex;
}
.conteiner{
	max-width: 100%;
	margin: 0px auto;
}
.head__row {
	display: flex;
	text-transform: uppercase;
	text-decoration: none;
	touch-action: manipulation;
}
.head__menu {
	display: flex;
	position: absolute;
	margin-left: 400px;
	top: 20px;
}

ul{
	display: block;
	position: absolute;
	justify-content: center;
	align-items: center;
	left: -150px;
}

li{
	display: block;
	color: #fff;
	font-style: normal;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	padding: 20px;
}

li a{
	text-decoration: none;
	color: #fff;
}
.head__number {
	position: absolute;
	left: 1200px;
	top: 35px;
	color: #fff;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 22px;
	text-align: right;
	letter-spacing: 0.05em;
}
.head__line{
	position: absolute;
	border: 2px solid #D1A954;
	width: 101px;
	height: 0px;
	left: 1207px;
	top: 60px;
}
.head__block {
	display: block;
}
.head__title {
	position: absolute;
	left: 305px;
	top: 374px;
	color: #fff;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 87px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	white-space: nowrap;
}
.head__text {
	position: absolute;
	width: 570px;
	height: 85px;
	left: 305px;
	top: 502px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 150%;color: #FFFFFF;
}
.head__buttom {
	position: absolute;
	background: #D1A954;
	width: 160px;
	height: 50px;
	left: 305px;
	top: 640px;
}
span{
	display: flex;
	position: absolute;
	color: #fff;
	justify-content: center;
	text-align: center;
	width: 66px;
	height: 50px;
	margin: 0px 45px;
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	align-items: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.head__navigation {}
.head__poster {}
.head__img__1 {
	position: absolute;
	width: 350px;
	height: 490px;
	left: 1090px;
	top: 287px;
}
.head__img__2 {
	position: absolute;
	width: 350px;
	height: 490px;
	left: 1070px;
	top: 267px;
}
.head__arrow {
	font-family: Open Sans Condensed;
}
.head__arrow__1 {
	position: absolute;
	width: 40px;
	height: 0px;
	left: 1080px;
	top: 824px;
}
.head__arrow__text_1 {
	position: absolute;
	width: 43px;
	height: 25px;
	left: 1135px;
	top: 820px;
	color: #fff;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.head__arrow__2 {
	position: absolute;
	width: 40px;
	height: 0px;
	left: 1400px;
	top: 824px;
}
.head__arrow__text_2 {
	position: absolute;
	width: 43px;
	height: 25px;
	left: 1332px;
	top: 820px;
	color: #fff;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

a{
	color: #fff;
}
